.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
miniprogram/pages/**/*.js
miniprogram/utils/*.js
miniprogram/app.js
miniprogram/api/*.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
